body {
  margin: 0;
}

/*
  Hides the radio buttons ('input' tags) themselves, but not
  their labels, which form the tabs.
  
  Also sets styles for the section tags and hides them.
*/
input,
section {
  display: none;
  padding: 1em;
  clear: both;
}
/*
  displays and styles 'label' tags (for radio button 'input' tags)
*/
label {
  display: block;
  float: left;
  width: 33.33%;
  color: #888;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
}
/*
  The radio button label tags form the 'tabs' used to show the 
  sections - when clicked, the input tag 'checked' attribute 
  becomes true, so the section tags with IDs 'content1-3' can
  be targeted *in relation* to each radio button.

  This changes the display of specific section elements (with
  IDs 'content1-3') from 'none' to 'block', but *only when* the 
  associated and preceding (~) radio button becomes 'checked'. 

  For the CSS3 ~ selector see:
  http://www.w3schools.com/cssref/sel_gen_sibling.asp
*/
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
/*
  Styles label elements (tabs) *only* when they're 'checked'
*/
[id^="tab"]:checked + label {
  background: #fff;
  color: #222;
}
[id^="tab"]:checked + label .fa {
  color: #f69;
}

.tab-content {
  background: #fff;
}
.fa {
  margin-right: 10px;
}


/* --------- Basic animation --------- */
/*
  this can all be commented out without
  affecting the functionality of the tabs
*/

.tab_container section * {
  animation: fadeInScale 0.7s ease-in-out;
}

@keyframes fadeInScale {

  0% { 
  	transform: scale(0.85);
  	opacity: 0;
  }

  100% { 
  	transform: scale(1);
  	opacity: 1;
  }
  
}


/* --------- List item styles --------- */
/*
  these styles are specific to tab 2
*/
.column {
  display: inline-block;
  width: 45%;
  background: #ccc;
}

.numlist {
  counter-reset: mylist;
  /* 'mylist' is a (made-up) name to reset all '.numlist' elements */
}
.numlist li {
  list-style-type: none;
}
.numlist li:before {
  content: counter(mylist) ". ";
  counter-increment: mylist;
}
.numlist2 {
  counter-reset: mylist 4;
}
.numlist3 li:before,
.numlist4 li:before {
  counter-increment: mylist 3;
  /* count list numbers in threes */
}
.numlist3 li:before {
  /* pad numbers (or use display: inline-block;) */
  float: left;
  /* makes room to align 1- and 2-digit list item numbers */
  width: 1.75em;
}
.numlist4 li:before {
  float: left;
  text-align: right;
  /* padding combined with width aligns list items */
  padding-right: 0.5em; 
  width: 1.25em;
}

/* --------- The target selector --------- */
/*
  styles specific to tab 2
*/
[id^="news"]:target {
  background-color: #e5eecc;
  transition: all 2s ease;
}


/* --------- Basic responsive breakpoint --------- */
/*
  basic breakpoint - hides the tab text but leaves the icons visible
*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }
}
